@import '~scss/index.scss';

.news-review {
  $bg-color:$color-review-bg;
  background: $bg-color;
  padding: 4px;
  border-radius: 2px;
  position: relative;
  margin-top: 4px;
  line-height: 18px;
  .likes-wrap {
    color: $color-title-font;
    border-bottom: 1px solid $color-review-line;
    padding: 3px;
    margin: 0 -3px 2px;
    .iconfont {
      margin-right: 5px;
    }
    &.no-border-bottom {
      border-bottom: none;
    }
  }
  .arrow {
    position: absolute;
    left: 10px;
    bottom: 100%;
    @include arrow('top', 8px, $bg-color, 6px);

  }
  .answer,
  .receive {
    color: $active-color;
  }
}
